@font-face {
    font-family: "Go Medium";
    src: url("//db.onlinewebfonts.com/t/047f4505be97c463bc637f1767d274d6.eot");
    src: url("//db.onlinewebfonts.com/t/047f4505be97c463bc637f1767d274d6.eot?#iefix")
        format("embedded-opentype"),
      url("//db.onlinewebfonts.com/t/047f4505be97c463bc637f1767d274d6.woff2")
        format("woff2"),
      url("//db.onlinewebfonts.com/t/047f4505be97c463bc637f1767d274d6.woff")
        format("woff"),
      url("//db.onlinewebfonts.com/t/047f4505be97c463bc637f1767d274d6.ttf")
        format("truetype"),
      url("//db.onlinewebfonts.com/t/047f4505be97c463bc637f1767d274d6.svg#Go Medium")
        format("svg");
  }
  
  .carWidget {
    display: flex;
    align-items: center;
  }
  
  .imagenCarrito {
    width: 45px;
  }
  
  .contadorCarrito {
    min-width: 25px;
    min-height: 25px;
    border-radius: 1em;
    font-family: "Go Medium";
    background-color: #76b900;
    color: #eeeeee;
    position: absolute;
    margin-left: 10px;
    margin-top: -20px;
    font-size: 18px;
    font-weight: 500;
  }