@font-face {
    font-family: "Go Medium";
    src: url("//db.onlinewebfonts.com/t/047f4505be97c463bc637f1767d274d6.eot");
    src: url("//db.onlinewebfonts.com/t/047f4505be97c463bc637f1767d274d6.eot?#iefix")
        format("embedded-opentype"),
      url("//db.onlinewebfonts.com/t/047f4505be97c463bc637f1767d274d6.woff2")
        format("woff2"),
      url("//db.onlinewebfonts.com/t/047f4505be97c463bc637f1767d274d6.woff")
        format("woff"),
      url("//db.onlinewebfonts.com/t/047f4505be97c463bc637f1767d274d6.ttf")
        format("truetype"),
      url("//db.onlinewebfonts.com/t/047f4505be97c463bc637f1767d274d6.svg#Go Medium")
        format("svg");
  }
  
  @font-face {
    font-family: "GeForce-Regular";
    src: url("//db.onlinewebfonts.com/t/7c842801a63c2d8d75278221b6723214.eot");
    src: url("//db.onlinewebfonts.com/t/7c842801a63c2d8d75278221b6723214.eot?#iefix")
        format("embedded-opentype"),
      url("//db.onlinewebfonts.com/t/7c842801a63c2d8d75278221b6723214.woff2")
        format("woff2"),
      url("//db.onlinewebfonts.com/t/7c842801a63c2d8d75278221b6723214.woff")
        format("woff"),
      url("//db.onlinewebfonts.com/t/7c842801a63c2d8d75278221b6723214.ttf")
        format("truetype"),
      url("//db.onlinewebfonts.com/t/7c842801a63c2d8d75278221b6723214.svg#GeForce")
        format("svg");
  }
  
  @font-face {
    font-family: "GeForce-Bold";
    src: url("//db.onlinewebfonts.com/t/cf67b63a12a22d6fe21be02b8dfdf060.eot");
    src: url("//db.onlinewebfonts.com/t/cf67b63a12a22d6fe21be02b8dfdf060.eot?#iefix")
        format("embedded-opentype"),
      url("//db.onlinewebfonts.com/t/cf67b63a12a22d6fe21be02b8dfdf060.woff2")
        format("woff2"),
      url("//db.onlinewebfonts.com/t/cf67b63a12a22d6fe21be02b8dfdf060.woff")
        format("woff"),
      url("//db.onlinewebfonts.com/t/cf67b63a12a22d6fe21be02b8dfdf060.ttf")
        format("truetype"),
      url("//db.onlinewebfonts.com/t/cf67b63a12a22d6fe21be02b8dfdf060.svg#GeForce")
        format("svg");
  }
  
  @font-face {
    font-family: "DINPro-Light";
    src: url("//db.onlinewebfonts.com/t/e0be9bd5e372b2c379893b776e7b2b96.eot");
    src: url("//db.onlinewebfonts.com/t/e0be9bd5e372b2c379893b776e7b2b96.eot?#iefix")
        format("embedded-opentype"),
      url("//db.onlinewebfonts.com/t/e0be9bd5e372b2c379893b776e7b2b96.woff2")
        format("woff2"),
      url("//db.onlinewebfonts.com/t/e0be9bd5e372b2c379893b776e7b2b96.woff")
        format("woff"),
      url("//db.onlinewebfonts.com/t/e0be9bd5e372b2c379893b776e7b2b96.ttf")
        format("truetype"),
      url("//db.onlinewebfonts.com/t/e0be9bd5e372b2c379893b776e7b2b96.svg#DINPro-Light")
        format("svg");
  }
  
  @font-face {
    font-family: "DINPro-Regular";
    src: url("//db.onlinewebfonts.com/t/c9c60c88cb732119e5a9457f2d9cdc53.eot");
    src: url("//db.onlinewebfonts.com/t/c9c60c88cb732119e5a9457f2d9cdc53.eot?#iefix")
        format("embedded-opentype"),
      url("//db.onlinewebfonts.com/t/c9c60c88cb732119e5a9457f2d9cdc53.woff2")
        format("woff2"),
      url("//db.onlinewebfonts.com/t/c9c60c88cb732119e5a9457f2d9cdc53.woff")
        format("woff"),
      url("//db.onlinewebfonts.com/t/c9c60c88cb732119e5a9457f2d9cdc53.ttf")
        format("truetype"),
      url("//db.onlinewebfonts.com/t/c9c60c88cb732119e5a9457f2d9cdc53.svg#DINPro-Regular")
        format("svg");
  }
  
  .cardProduct {
    border: none;
    background-color: white !important;
    box-shadow: 0 0 15px 3px #75b900c2;
  }
  
  .overFlowImgProduct{
    overflow: hidden;
  }
  
  .productIMG {
    object-fit: cover;
    height: 250px;
    width: 100%;
    transform: scale(1);
    transition: transform 0.5s ease;
  }
  
  .productIMG:hover{
    transform: scale(1.2);
  }
  
  .LinkTitleProduct{
    text-decoration: none;
    color: #333333;
    font-family: "GeForce-Regular";
    font-size: 18px;
    line-height: 1em;
    text-transform: normal;
    font-weight: bold;
  }
  
  .LinkTitleProduct:hover {
    color: #76b900;
  }
  
  .mutedProduct {
    color: #4d4d4d;
    font-family: "GeForce-Regular";
    font-size: 14px;
    line-height: 1em;
    text-transform: normal;
  }
  
  .precioProducto {
    color: #4d4d4d;
    font-family: "GeForce-Regular";
    font-size: 17px;
    line-height: 1em;
    text-transform: normal;
    font-weight: bold;
  }
  
  .precioProducto > s {
    color: red;
  }
  
  .stockProduct {
    font-size: 16px;
    padding: 10px 0 0 0;
    line-height: 24px;
    font-family: "DINPro-Light";
  }
  
  .LinkDetalles{
    text-decoration: none;
    color: #4d4d4d;
    font-family: "GeForce-Regular";
    font-size: 18px;
    line-height: 1em;
    text-transform: normal;
  }
  
  .LinkDetalles:hover{
    color: #76b900;
  }