.inputCount{
    max-width: 25%;
  }
  
  .addCarDetail {
    padding: 14px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "DINPro-Light";
    background-color: #76b900;
    border-color: #76b900;
    border-radius: 0;
    font-size: 20px;
    line-height: 1;
  }
  
  .addCarDetail:hover {
    background-color: #86d103;
    border-color: #86d103;
  }