@font-face {
    font-family: "Go Medium";
    src: url("//db.onlinewebfonts.com/t/047f4505be97c463bc637f1767d274d6.eot");
    src: url("//db.onlinewebfonts.com/t/047f4505be97c463bc637f1767d274d6.eot?#iefix")
        format("embedded-opentype"),
      url("//db.onlinewebfonts.com/t/047f4505be97c463bc637f1767d274d6.woff2")
        format("woff2"),
      url("//db.onlinewebfonts.com/t/047f4505be97c463bc637f1767d274d6.woff")
        format("woff"),
      url("//db.onlinewebfonts.com/t/047f4505be97c463bc637f1767d274d6.ttf")
        format("truetype"),
      url("//db.onlinewebfonts.com/t/047f4505be97c463bc637f1767d274d6.svg#Go Medium")
        format("svg");
  }
  
  @font-face {
    font-family: "GeForce-Regular";
    src: url("//db.onlinewebfonts.com/t/7c842801a63c2d8d75278221b6723214.eot");
    src: url("//db.onlinewebfonts.com/t/7c842801a63c2d8d75278221b6723214.eot?#iefix")
        format("embedded-opentype"),
      url("//db.onlinewebfonts.com/t/7c842801a63c2d8d75278221b6723214.woff2")
        format("woff2"),
      url("//db.onlinewebfonts.com/t/7c842801a63c2d8d75278221b6723214.woff")
        format("woff"),
      url("//db.onlinewebfonts.com/t/7c842801a63c2d8d75278221b6723214.ttf")
        format("truetype"),
      url("//db.onlinewebfonts.com/t/7c842801a63c2d8d75278221b6723214.svg#GeForce")
        format("svg");
  }
  
  @font-face {
    font-family: "GeForce-Bold";
    src: url("//db.onlinewebfonts.com/t/cf67b63a12a22d6fe21be02b8dfdf060.eot");
    src: url("//db.onlinewebfonts.com/t/cf67b63a12a22d6fe21be02b8dfdf060.eot?#iefix")
        format("embedded-opentype"),
      url("//db.onlinewebfonts.com/t/cf67b63a12a22d6fe21be02b8dfdf060.woff2")
        format("woff2"),
      url("//db.onlinewebfonts.com/t/cf67b63a12a22d6fe21be02b8dfdf060.woff")
        format("woff"),
      url("//db.onlinewebfonts.com/t/cf67b63a12a22d6fe21be02b8dfdf060.ttf")
        format("truetype"),
      url("//db.onlinewebfonts.com/t/cf67b63a12a22d6fe21be02b8dfdf060.svg#GeForce")
        format("svg");
  }
  
  @font-face {
    font-family: "DINPro-Light";
    src: url("//db.onlinewebfonts.com/t/e0be9bd5e372b2c379893b776e7b2b96.eot");
    src: url("//db.onlinewebfonts.com/t/e0be9bd5e372b2c379893b776e7b2b96.eot?#iefix")
        format("embedded-opentype"),
      url("//db.onlinewebfonts.com/t/e0be9bd5e372b2c379893b776e7b2b96.woff2")
        format("woff2"),
      url("//db.onlinewebfonts.com/t/e0be9bd5e372b2c379893b776e7b2b96.woff")
        format("woff"),
      url("//db.onlinewebfonts.com/t/e0be9bd5e372b2c379893b776e7b2b96.ttf")
        format("truetype"),
      url("//db.onlinewebfonts.com/t/e0be9bd5e372b2c379893b776e7b2b96.svg#DINPro-Light")
        format("svg");
  }
  
  @font-face {
    font-family: "DINPro-Regular";
    src: url("//db.onlinewebfonts.com/t/c9c60c88cb732119e5a9457f2d9cdc53.eot");
    src: url("//db.onlinewebfonts.com/t/c9c60c88cb732119e5a9457f2d9cdc53.eot?#iefix")
        format("embedded-opentype"),
      url("//db.onlinewebfonts.com/t/c9c60c88cb732119e5a9457f2d9cdc53.woff2")
        format("woff2"),
      url("//db.onlinewebfonts.com/t/c9c60c88cb732119e5a9457f2d9cdc53.woff")
        format("woff"),
      url("//db.onlinewebfonts.com/t/c9c60c88cb732119e5a9457f2d9cdc53.ttf")
        format("truetype"),
      url("//db.onlinewebfonts.com/t/c9c60c88cb732119e5a9457f2d9cdc53.svg#DINPro-Regular")
        format("svg");
  }
  
  .selectIMGDetail{
    max-width: 80px;
    height: auto;
  }
  
  
  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
      --bs-nav-pills-link-active-bg: none;
      border: 2px solid #76b900;
  }
  
  .nav{
    --bs-nav-link-color: #76b900;
    --bs-nav-link-hover-color: #76b900;
  }
  
  .productIMGDetail{
    max-height: 500px;
    margin: 0 auto;
  }
  
  .cardDetail{
    border-radius: 0;
  }
  
  .cardBodyDetail{
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  
  .cardProduct {
    border: none;
    background-color: #eee;
  }
  
  .descDetail{
    padding-top: 20px;
    text-decoration: none;
    color: #333333;
    font-family: "DINPro-Light";
    font-size: 22px;
    line-height: 1em;
    text-transform: normal;
    font-weight: bold;
  }
  
  .categoryDetail{
    padding-top: 10px;
    font-size: 18px;
    /* padding: 10px 0; */
    line-height: 24px;
    font-family: "DINPro-Light";
  }
  
  .skuDetail {
    color: #4d4d4d;
    font-family: "GeForce-Regular";
    font-size: 16px;
    /* line-height: 1em; */
    text-transform: normal;
  }
  
  .pDetail {
    color: #4d4d4d;
    font-family: "GeForce-Regular";
    font-size: 18px;
    line-height: 0em;
    text-transform: normal;
    font-weight: bold;
  }
  
  .pDetail > s {
    color: red;
  }
  
  .stockDetail {
    font-size: 18px;
    /* padding: 10px 0; */
    line-height: 24px;
    font-family: "DINPro-Light";
  }